.airCard {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-color: rgb(44, 43, 43);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}

.airMain {
  font-size: 40px;
  color: white;
}

.airDivider {
  margin: 5px;
  color: white;
  width: 80%;
}

.airThird {
  font-size: 15px;
  color: white;
}