.alertsCard {
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(44, 43, 43);
  box-shadow: 0 0.1rem 1rem rgba(0,0,0,0.8);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}

.alertsCardWide {
  width: 400px;
  padding: 20px;
}

.criticalShadow {
  box-shadow: 0 0.1rem 1rem rgba(255, 0, 0, 0.8)
}

.alertsCritical {
  animation: color-change 2s infinite;
  font-size: 25px;
}

@keyframes color-change {
  0% { color: white; }
  50% { color: red; }
  100% { color: white; }
}

.alertsNormal {
  color: lightgreen;
  font-size: 25px;
}

.alertsLow {
  color: yellow;
  font-size: 25px;
}

.alertsMiddle {
  color: orange;
  font-size: 25px;
}

.alertsHigh {
  color: red;
  font-size: 25px;
}

.alertImage {
  height: 80px;
  margin-bottom: 20px;
}

@media screen and (max-width:600px) {
  .alertsCard {
    width: 150px;
    height: 150px;
  }

  .alertsCritical {
    font-size: 20px;
  }
  
  .alertsLow {
    font-size: 20px;
  }
  
  .alertsNormal {
    font-size: 20px;
  }
  
  .alertsHigh {
    font-size: 20px;
  }
  
  .alertImage {
    height: 50px;
  }
}