.bedroomCard {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-color: rgb(44, 43, 43);
  box-shadow: 0 0.1rem 1rem rgba(0,0,0,0.8);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}

.bedroomMain {
  font-size: 35px;
  color: white;
}


@media screen and (max-width:600px) {
  .bedroomCard {
    width: 150px;
    height: 150px;
  }

  .bedroomMain {
    font-size: 35px;
  }
}