.notAtHomeCard {
  width: 1200px;
  height: 200px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 600px);
  border-radius: 20px;
  background-color: rgb(44, 43, 43);
  box-shadow: 0 0.1rem 5rem rgba(255,0,0,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}

@keyframes color-change {
  0% { color: white; }
  50% { color: red; }
  100% { color: white; }
}

.notAtHomeMain {
  font-size: 40px;
  color: white;
  animation: color-change 2s infinite;
}


@media screen and (max-width:600px) {
  .notAtHomeCard {
    width: 150px;
    height: 150px;
  }

  .notAtHomeMain {
    font-size: 35px;
  }
}