.powerCard {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-color: rgb(44, 43, 43);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}

.powerTemperature {
  color: white;
  font-size: 50px;
}

.powerFail {
  animation: color-change 2s infinite;
  font-size: 25px;
}

@keyframes color-change {
  0% { color: white; }
  50% { color: red; }
  100% { color: white; }
}

@media screen and (max-width:600px) {
  .powerCard {
    width: 150px;
    height: 150px;
  }

  .powerTemperature {
    font-size: 40px;
  }

  .powerFail {
    font-size: 20px;
  }
}