.spotifyCard {
  width: 640px;
  height: 200px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(44, 43, 43);
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center; 
  overflow: hidden;
}

.spotifyData {
  width: calc(100% - 160px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spotifyImageCard {
  width: 160px;
  height: 160px;
  border-radius: 20px;
  background-color: rgb(44, 43, 43);
  border: 2px solid rgb(44, 43, 43);
  background-size: 160px 160px;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
  position: absolute;
  right: 10px;
  top: 15px
}

.spotifyProgressBar {
  width: 640px;
  border-radius: 20px 20px 0px 0px;
  position: absolute;
  bottom: 0;
  left: 0px;
}

.spotifyTitle {
  color: white;
  font-size: 25px;
}

.spotifyArtistsSeparator {
  width: 80%;
  margin: 5px;
  margin-left: 10%;
  color: white;
}

.spotifyArtist {
  color: white;
  font-size: 20px;
}

.spotifyDevice {
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width:600px) {
  .spotifyCard {
    width: 150px;
    height: 150px;
  }

  .spotifyImageCard {
    width: 150px;
    height: 150px;
  }

  .spotifyProgressBar {
    width: 150px;
  }
  
  .spotifyTitle {
    font-size: 20px;
  }

  .spotifyArtist {
    font-size: 15px;
  }
  
  .spotifyDevice {
    font-size: 10px;
  }
  
}