.thermostatCard {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-color: rgb(44, 43, 43);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  overflow: hidden;
}

.thermostatTemperature {
  color: white;
  font-size: 40px;
}

.thermostatDivider {
  margin: 10px;
  color: white;
  width: 80%;
}

.thermostatStatus {
  font-size: 25px;
  color: white;
}

@media screen and (max-width:600px) {
  .thermostatCard {
    width: 150px;
    height: 150px;
  }

  .thermostatTemperature {
    font-size: 40px;
  }
}