.cocinaPage {
  width: 98%;
  margin-left: 1%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.title {
  width: 100%;
  color: white;
  font-size: 20px;
}