html, body {
  margin-top: 0px;
  height: 100vh;
  background-color: black;
}

.App {
  margin-top: 0px;
  height: 100vh;
  text-align: center;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    url("https://i.scdn.co/image/ab67616d0000b273e14f11f796cef9f9a82691a7");
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat:  no-repeat;
  background-size: cover
}